.post-frame,
.post-content-frame {
  box-sizing: border-box;
  border-radius: 10px;
}

.post-frame {
  margin: 1rem 1rem;
  box-shadow: 5px 5px 20px 0px #f8f9fa4b;
  /* background-color: #f8f9fa; */
  background-color: #111314c2;
  position: relative;
}

.post-content-frame {
  background-color: #ffffff;
  position: relative;
  left: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image-preview {
  max-width: 50%;
  /* display: none; */
}

.post-vote-buttons {
  position: absolute;
  left: 3.5%;
  top: 10%;
}
