.post-frame,
.post-content-frame {
  box-sizing: border-box;
  border-radius: 10px;
}

.post-frame {
  margin: 1rem 1rem;
  box-shadow: 5px 5px 20px 0px #f8f9fa4b;
  background-color: var(--bg-color-post);
  /* background-color: #111314c2; */
  position: relative;
}

.post-content-frame {
  background-color: var(--bg-color-post-content);
  position: relative;
  left: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image-preview {
  max-width: 50%;
  /* display: none; */
}

.post-vote-buttons {
  position: absolute;
  left: 3%;
  top: 10%;
}

.post-title {
  font-size: calc(12px + 1vmin);
}
